channels:
  - conda-forge
  - nodefaults
dependencies:
  # for jupyter-desktop-server
  - websockify

  - networkx==3.2.*
  - nltk==3.8.*
  - spacy==3.7.*
  - geopandas==0.14.*
  - geopy==2.4.*
  # From https://github.com/utoronto-2i2c/jupyterhub-deploy/issues/29
  - astroquery==0.4.*
  - astropy==5.3.*
  - galpy==1.9.*
  - libgfortran==3.0.0

  # Infrastructure things
  - nbgitpuller==1.2.*
  - jupyter-resource-usage==1.0.*
  - jupytext==1.15.*
  - jupyter-server-proxy>=4.1.2,4.*

  # From https://2i2c.freshdesk.com/a/tickets/497
  - contextily==1.4.*
  - libpysal==4.9.*
  - esda==2.5.*
  - splot==1.1.*
  - xlrd==2.0.*
  - numba==0.57.*

  # python-graphviz installed on request by Scott Schwartz in
  # https://2i2c.freshdesk.com/a/tickets/697?note=80283596987
  - python-graphviz==0.20.*

  - pip

  - pip:
    # Infrastructure things that don't exist in conda-forge
    - jupyter-remote-desktop-proxy==1.*
    - git-credential-helpers==0.2
    - jupyter-tree-download==1.0.1

    # Infrastructure thing that doesn't support notebook 7
    - jupyter_contrib_nbextensions==0.7.0

    - datascience==0.17.*
    - otter-grader==5.*

    # nbextensions
    - jupyterthemes==0.20.0
    - markus-jupyter-extension==0.1.4

    # From https://2i2c.freshdesk.com/a/tickets/57
    - jax[cpu]

    # From https://2i2c.freshdesk.com/a/tickets/187
    - textblob==0.17.*

    # Install this from pip because installing from conda conflicts with geopy / geopandas
    # Re-evaluate once https://github.com/conda-forge/tensorflow-feedstock/pull/353 lands
    - tensorflow==2.15.*
    # From https://2i2c.freshdesk.com/a/tickets/1259
    - tensorflow-probability==0.23.*

    # Install from pip because it does not work from conda-forge atm
    # https://github.com/conda-forge/rise-feedstock/issues/43 has information
    - RISE==5.7.*

    # From https://2i2c.freshdesk.com/a/tickets/1259
    - pymc==5.10.*
